ul
  li.fa-2x.fa.fa-home(style='display:block;')
    a(href='/' style='margin-left: 10px;') Home
  li.fa-2x.fa.fa-info(style='display:block;padding-left:8px')
    a(href='/about' style='margin-left: 18px;') About
  li.fa-2x.fa.fa-eye(style='display:block;')
    a(href='/faq' style='margin-left: 10px;') FAQ
  li.fa-2x.fa.fa-optin-monster(style='display:block;')
    a(href='/aliens' style='margin-left: 3px;') Aliens
  li.fa-2x.fa.fa-plus(style='display:block;padding-left:6px;')
    a(href='/aliens/new' style='margin-left: 10px;') New Aliens
